body {
  margin: 0;
  
  background-color: #000;
}

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.title {
  margin: 0 0 12px;

  color: #fff;
  font-size: 32px;
  height: 100%;
  line-height: 100%;
}

.subtitle {
  margin: 0;

  font-size: 18px;
  color: #aaa;
}